<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>

        <%- include('./partials/nav.ejs') %>

        <div class="about content">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet, wisi eligendi per id, ei ius mandamus omittantur, pri ea wisi audire apeirian. Ea cum viris labore signiferumque. Utinam temporibus id nec. Erat inciderint efficiantur no eam, aeque nobis intellegebat no usu. Ut laudem albucius disputationi pro.</p>
            <p>Lorem ipsum dolor sit amet, wisi eligendi per id, ei ius mandamus omittantur, pri ea wisi audire apeirian. Ea cum viris labore signiferumque. Utinam temporibus id nec. Erat inciderint efficiantur no eam, aeque nobis intellegebat no usu. Ut laudem albucius disputationi pro.</p>
            <p>Lorem ipsum dolor sit amet, wisi eligendi per id, ei ius mandamus omittantur, pri ea wisi audire apeirian. Ea cum viris labore signiferumque. Utinam temporibus id nec. Erat inciderint efficiantur no eam, aeque nobis intellegebat no usu. Ut laudem albucius disputationi pro.</p>
        </div>
     
        <%- include('./partials/footer.ejs') %>
        
    </body>
</html>